.card-2 {
    background-color: green;
}

.card {
    /* max-width: 200px; */
    border: 1px solid gray;
    padding: 20px;
    background-color: blue;
}

.card-flex {
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
}